
<h1 class="page-header">Profile</h1>
<div >
    <ul class="nav nav-tabs" data-tabs="tabs">
        <li role="presentation" ><a data-toggle="tab" href="#profile" role="tab">Profile</a></li>
        <li role="presentation"  class = "active"><a data-toggle="tab" href="#appointmentList" role="tab">Appointment List</a></li>
        <li role="presentation" ><a data-toggle="tab" href="#reviewList" role="tab">Review List</a></li>
    </ul>
    <div class="tab-content" >
        <div id ="appointmentList" role="tabpanel" class="tab-pane fade">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="col-md-3">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            Company Name</th>
                        <th class="col-md-2">
                            customer</th>
                        <th class="col-md-2">
                            start time</th>
                        <th class="col-md-2">
                            end time</th>
                        <th class="col-md-2">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            price</th>
                        <th class="col-md-2">
                            status</th>
                        <th class="col-md-4">Action</th>
                        <th class="col-md-4" ng-if="currentUser.role == 'customer'">Rate a service</th>

                    </tr>

                    <tr>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="appointment in model.appointments">
                        <td> {{appointment.vendorUsername}} </td>
                        <td>{{appointment.username}}</td>
                        <td> {{appointment.startTime}} </td>
                        <td>{{appointment.endTime}}</td>
                        <td> {{appointment.price}} </td>
                        <td> {{appointment.status}} </td>
                        <td>
                            <button ng-click="model.editApp(appointment)" type="button" class="btn btn-default" aria-label="glyphicon-pencil"
                            ng-if="appointment.status == 'pending'">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button ng-click="model.cancelApp(appointment)" type="button" class="btn btn-default" aria-label="glyphicon-remove"
                             ng-if="appointment.status == 'pending'">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                            <button ng-click="model.viewApp(appointment)" type="button" class="btn btn-default" aria-label="glyphicon-detail">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </td>
                        <td ng-if="currentUser.role == 'customer'">
                            <button ng-click="model.writeReview(appointment)" type="button" class="btn btn-default" aria-label="glyphicon-star"
                            ng-if="currentUser.role == 'customer'">
                                <span class="glyphicon glyphicon-star"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Modal -->
                <div class="modal fade" id="dialog-1" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4>{{ model.app.vendorUsername}}</h4>
                            </div>
                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Start Time: </label>
                                    <div class="col-sm-10">
                                        <input type="date" ng-model="model.app.startTime" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">End Time: </label>
                                    <div class="col-sm-10">
                                        <input type="date" ng-model="model.app.endTime" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">Payment Menthod: </label>
                                    <div class="col-sm-10">
                                        <div class="radio">
                                            <label><input type="radio" name="payment" ng-model="model.app.payment" value="credit card">
                                                Credit Card</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio"  name="payment" ng-model="model.app.payment" value="credit card">
                                                Check Payment</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" name="payment" ng-model="model.app.payment" value="credit card">
                                                cash</label>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-default pull-left" data-dismiss="modal" ng-click="model.updateField(model.app)"><span class="glyphicon glyphicon-okay"></span> ok</button>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="dialog-2" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Review Window</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Vendor: </label>
                                        {{model.vendorUsername}}
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Rating: </label>
                                        <label class="radio-inline"><input type="radio" name="optradio" ng-model="model.review.rating" value = 1>1</label>
                                        <label class="radio-inline"><input type="radio" name="optradio" ng-model="model.review.rating" value = 2>2</label>
                                        <label class="radio-inline"><input type="radio" name="optradio" ng-model="model.review.rating" value = 3>3</label>
                                        <label class="radio-inline"><input type="radio" name="optradio" ng-model="model.review.rating" value = 4>4</label>
                                        <label class="radio-inline"><input type="radio" name="optradio" ng-model="model.review.rating" value = 5>5</label>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Comment: </label>
                                        <textarea class="form-control" rows="5" id="comment" ng-model="model.review.comment"></textarea>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-default pull-left" data-dismiss="modal" ng-click="model.addReview(model.vendorUsername,model.review)"><span class="glyphicon glyphicon-okay"></span> Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>