
<div>
    <div class="progress">
        <div id="progressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="25"
             aria-valuemin="0" aria-valuemax="100" style="width: 75%">
            setting up the appointment!
        </div>
    </div>


    <h3>Make an appointment with {{model.businessName}}</h3>
    <hr>
    <h4> Choose a time range that you are available at home!</h4>
    <form class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">Start Time: </label>
            <div class="col-sm-10">
                <input type="date" ng-model="model.appointment.startTime" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">End Time: </label>
            <div class="col-sm-10">
                <input type="date" ng-model="model.appointment.endTime" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">Payment Menthod: </label>
            <div class="col-sm-10">
                <div class="radio">
                    <label><input type="radio" name="payment" ng-model="model.appointment.payment" value="credit card">
                        Credit Card</label>
                </div>
                <div class="radio">
                    <label><input type="radio"  name="payment" ng-model="model.appointment.payment" value="credit card">
                        Check Payment</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="payment" ng-model="model.appointment.payment" value="credit card">
                        cash</label>
                </div>
            </div>


        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="model.submit(model.appointment)" class="btn btn-default">Submit!</button>
                <button ng-click="model.cancel()" class="btn btn-danger">Cancel</button>

            </div>
        </div>


    </form>

</div>
