

<h1 class="page-header">Forms</h1>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li ><a href="#/forms">Forms</a></li>
        <li class = "active"><a href="#field">Fields</a></li>
    </ul>

        <div class="tab-pane active" id="field">
            <form role="form">
                <div class="form-group">
                    <label class="control-label col-md-10">First Name:</label>
                    <div class=" col-md-5">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <ul class = "col-md-5">
                        <li class="glyphicon glyphicon-align-justify pull-right"></li>
                        <li class="glyphicon glyphicon-remove pull-right"></li>
                        <li class="glyphicon glyphicon-plus pull-right"></li>
                        <li class="glyphicon glyphicon-pencil pull-right"></li>
                    </ul>
                    <label  class="control-label col-md-10">Last Name:</label>
                    <div class=" col-md-5">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                    <ul class = "col-md-5">
                        <li class="glyphicon glyphicon-align-justify pull-right"></li>
                        <li class="glyphicon glyphicon-remove pull-right"></li>
                        <li class="glyphicon glyphicon-plus pull-right"></li>
                        <li class="glyphicon glyphicon-pencil pull-right"></li>
                    </ul>
                    <label  class="control-label col-md-10">Date of Birth:</label>
                    <div class = "col-md-5">
                        <input type="date" class ="form-control" placeholder="Select Date">
                    </div>

                    <ul class = "col-md-5">
                        <li class="glyphicon glyphicon-align-justify pull-right"></li>
                        <li class="glyphicon glyphicon-remove pull-right"></li>
                        <li class="glyphicon glyphicon-plus pull-right"></li>
                        <li class="glyphicon glyphicon-pencil pull-right"></li>
                    </ul>
                    <label class = "cotrol-label col-md-10" for="gender">Gender:</label>
                    <div class = "col-md-5">
                        <select class="form-control" id="gender">
                            <option>Female</option>
                            <option>Male</option>
                        </select>
                    </div>
                    <ul class = "col-md-5">
                        <li class="glyphicon glyphicon-align-justify pull-right"></li>
                        <li class="glyphicon glyphicon-remove pull-right"></li>
                        <li class="glyphicon glyphicon-plus pull-right"></li>
                        <li class="glyphicon glyphicon-pencil pull-right"></li>
                    </ul>
                    <label class = "control-label col-md-10">Roles:</label>
                    <div class = "col-md-5">
                        <div class="checkbox">
                            <label><input type="checkbox" value="role-admin" checked>Admin</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="role2-stud">Student</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="role3-user">User</label>
                        </div>

                    </div>
                    <ul class = "col-md-5">
                        <li class="glyphicon glyphicon-align-justify pull-right"></li>
                        <li class="glyphicon glyphicon-remove pull-right"></li>
                        <li class="glyphicon glyphicon-plus pull-right"></li>
                        <li class="glyphicon glyphicon-pencil pull-right"></li>
                    </ul>
                    <label class = "control-label col-md-10">License Aggreement:</label>
                    <div class = "col-md-5">
                        <div class="radio">
                            <label><input type="radio" name="license" checked>Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="license">No</label>
                        </div>

                    </div>
                    <ul class = "col-md-5">
                        <li class="glyphicon glyphicon-align-justify pull-right"></li>
                        <li class="glyphicon glyphicon-remove pull-right"></li>
                        <li class="glyphicon glyphicon-plus pull-right"></li>
                        <li class="glyphicon glyphicon-pencil pull-right"></li>
                    </ul>

                    <label class = "control-label col-md-10" for="newField">Add New Field:</label>

                    <div class="col-md-5">
                        <select class="form-control" id="newField">
                            <option>Single Line Text</option>
                            <option>Date</option>
                            <option>Dropdown</option>
                            <option>Checkboxes</option>
                            <option>Radio buttons</option>
                            <option>Paragraph Text Field</option>
                        </select>
                    </div>
                    <ul class = "col-md-5">
                        <li class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></li>
                    </ul>

                </div>
            </form>
        </div>
    </div>
</div>


